/node_modules
/public/hot
/public/storage
/public/bundle
/public/files
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/bootstrap/cache
/storage/
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/revision
/docker/mysql/data
